.asset-main {
  background-color: #F4F7FA;
  padding: 25px;
  font-family: Nunito;
  font-size: 16px;
}

.asset-top-bar {
  display: flex;

  img {
    width: 60px;
    height: 60px;
    padding-right: 10px;
  }

  align-items: center;
}

.asset-top-name {
  font-size: 32px;
  margin-right: 12px;
}

.asset-price {
  color: black;
  padding: 18px;
  font-size: 36px;
  font-family: Nunito;
  margin: 0;
}


.asset-top-abv {
  font-size: 24px;
  color: #9BA6B2;
}

.assets-total-holdings {
  display: flex;
  font-size: 24px;
  color: #4E5C6E;
}

.assets-your-balance-coins {
    color: #4E5C6E;
    margin: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 5px;
}

.assets-your-balance {
  color: #9BA6B2;
  font-size: 14px;
  text-align: right;
  margin: 0px;

}

.assets-holdings-dollars {
  color: #9BA6B2;
  margin: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.asset-top-right{
  display: flex;
  margin-left: auto;
}

.asset-bottom-bar {
  align-items: center;
  display: inline-flex;

  img {
    padding-top: 10px;
    width: 55px;
    height: 55px;
  }

}

.asset-link {
  text-decoration: none;
  display: inherit;
}

.asset-self-description {
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #dae1e9;
  color: #8B92A7;
}

.asset-self-description-about {
  padding-top: 10px;
  color: #4E5C6E;
  font-family: Nunito;
  font-size: 16px;
  margin: 4px;
}

.asset-link-box {
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #dae1e9;
  color: #8B92A7;
  margin: 4px;
}

.asset-link-name {
  color: #0667D0;
  display: inline-flex;
  padding: 8px;
}

.asset-link-name-details {
  margin-left: 8px;
}

.asset-link-price {
  color: #8B92A7;
  font-size: 16px;
}

.asset-description {
  padding: 10px;
}

.asset-top-name-group {
  align-items: baseline;
  display: flex;
}

.asset-trade-parent {
  display: flex;
  background-color: #518FD9;
  height: 50px;
  width: 200px;
  align-items: center;
  border-radius: 10px;
  margin-left: 15px;
}

.asset-trade-link {
  display: inline-block;
  color: white;
  height: 90%;
  width: 50%;
  font-family: Nunito;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  p{
    text-align: center;
    vertical-align: middle;
  }
}

.asset-trade-link:hover {
  cursor: pointer;
  background-color: #184ca0;
  border-radius: 10px;
  height: 50px;
  width: 100px;
}

 .asset-trade-link-buy {
  display: inline-block;
  color: white;
  height: 90%;
  width: 50%;
  font-family: Nunito;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-right: solid #427ABE 1px;
  p{
    text-align: center;
    vertical-align: middle;
  }

}

.asset-trade-link-buy:hover {
  cursor: pointer;
  background-color: #184ca0;
  border-radius: 10px;
  height: 50px;
  width: 100px;
}