.home-main-div {
  font-family: Nunito;
  width: 100%;
}

.home-intro-div {
  height: 300px;
  justify-content: center;
  display: block;
  align-items: center;
}
.home-intro-line {
  color:white;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-second-line {
  color:white;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-login-button {
  background-color: #00c57f;
  text-decoration: none;
  align-items: center;
  color: white;
  padding: 20px;
  font-size: 22px;
  border-radius: 10px;
}

.home-login-button:hover{
  background-color: #00a86c;
}

.home-chart-container {
  display: inline-flex;
}

.home-about-info {
  width: 100%;
  height: 400px;
  background-color: white;
  color: black;
  align-items: center;
}
