.port-sum-main-container {
  display: inline-block;
  background-color: white;
  border: 2px solid #dae1e9;
  border-radius: 10px;
  font-family: Nunito;
  width: 48.0%;
}

.port-sum-component-main {
  display: flex;
  border: 1px solid #dae1e9;
  img {
    padding: 8px;
    width: 45px;
    height: 45px;
  }
  align-items: center;
  justify-content: space-between;
}

.port-sum-top-line {
  color: #0667d0;
  font-size: 18px;
  justify-content: center;
  margin-left: 5px;
  padding: 8px;
}

.port-sum-total-holdings {
  align-items: center;
  padding: 8px;
  color: #8B92A7;
  font-size: 16px;
}

.port-sum-date {
  margin-left: 15px;
}

.port-sum-amount {
  margin-right: 15px;
}

.tran-sum-amount {
  margin-right: 15px;

}
