.signin-main {
  color: white;
  font-family: Montserrat;
  font-weight: 100;
}

.signin-above-text {
  text-align: center;
}

.signin-submitform{
  margin: 0 auto;
  display: block;
  max-width: 375px;
  height: 175px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.signin-field {
  margin: 0 auto;
  display: flex;
  width: 300px;
  height: 30px;
  font-family: helvetica;
  font-size: 15px;
}

.signin-field::placeholder {
  color: #a3abb7;
}

.signin-button {
  background-color: #0667d0;
  display: inline-block;
  align-items: center;
  color: #f8f8f8;
  font-size: 12px;
  float:right;
  width: 90px;
  height: 40px;
  margin: 20px;
}

.signin-demo {
  background-color: #0667d0;
  display: inline-block;
  color: #f8f8f8;
  font-size: 12px;
  float:left;
  width: 90px;
  height: 40px;
  margin: 20px;
}

.signin-error-container {

}

.signin-error-el {
  list-style-type: none;
  color: pink;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}
