.signup-main {
  color: white;
  font-family: Montserrat;
  font-weight: 100;
}

.signup-above-text {
  text-align: center;
}

.signup-submitform{
  margin: 0 auto;
  display: block;
  max-width: 375px;
  height: 175px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.signup-field {
  margin: 0 auto;
  display: flex;
  width: 300px;
  height: 30px;
  font-family: helvetica;
  font-size: 15px;
}

.signup-field::placeholder {
  color: #a3abb7;
}

.signup-button {
  background-color: #0667d0;
  display: inline-block;
  align-items: center;
  color: #f8f8f8;
  font-size: 12px;
  float:right;
  width: 90px;
  height: 40px;
  margin: 20px;
}

.signup-error-container {

}

.signup-error-el {
  list-style-type: none;
  color: pink;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}
