.sc-main-container {
  background-color: white;
  border: 2px solid #dae1e9;
  border-radius: 10px;
  font-family: Nunito;
}

.sc-coin-logo {
  height: 40px;
  width: 40px;
  padding: 10px
}

.sc-top-line{
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.sc-link{
  text-decoration: none;
}
