.sc-main-container {
  background-color: white;
  border: 2px solid #dae1e9;
  border-radius: 10px;
  font-family: Nunito;
  width: 30%;
  margin: 15px;
  justify-content: center;
}

.sc-coin-logo {
  height: 40px;
  width: 40px;
  padding: 10px
}

.sc-top-line{
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
}

.sc-link{
  text-decoration: none;
  width: 100%;
}

.sc-duration-box {
  text-decoration: none;
  font-size: 12px;
  color: white;
  background-color: #dbe1e8;
  font-family: Montserrat;
  padding: 3px;
  border-radius: 4px;
  margin-right: 5px;
}

.sc-money-line {
  display: inline-flex;
  font-family: Montserrat;
  align-items: baseline;
}

.sc-money-dollar {
  font-size: 24px;
  margin-right: 15px;
  margin-left: 3px;
  color: black;
}

.sc-money-percent {
  color: #9BA6B2;
  font-size: 14px;
}
