.tran-sum-main-container {
  background-color: white;
  border: 2px solid #dae1e9;
  border-radius: 10px;
  font-family: Nunito;
}

.tran-sum-link {
  text-decoration: none;
  display: flex;
}

.tran-sum-tran-container {
  border: 1px solid #dae1e9;
}

.tran-sum-img {
  width: 45px;
  height: 45px;
}
